@font-face {
    font-family: Futura;
    src: url(./FuturaBold.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gilroy';
}

*::selection {
    color: #fff;
    background-color: black;
}

html,
body {
    height: 100%;
    width: 100%;
    background-color: #f7f7f7;
}

#cursor {
    height: 150px;
    width: 150px;
    background-color: rgb(143, 137, 128);
    border-radius: 50%;
    position: fixed;
    transform: translate(-50%,-50%) scale(0);
}

#page1 {
    min-height: 100vh;
    position: relative;
    width: 100%;
    padding: 0 1vw;
    padding-top: 20vh;
}

#page1 h1 {
    font-size: 15.8vw;
    text-transform: uppercase;
    font-family: futura;
    line-height: 14vw;
    letter-spacing: 5.7px;
    cursor: not-allowed;
}

#video-container {
    height: 100vh;
    width: 100%;
    background-color: grey;
    margin-top: 1vw;
    position: relative;
    cursor: none;
}

#video-container video {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

#video-container #play {
    padding: 3vw 2.2vw;
    background-color: rgb(255, 255, 255);
    color: #000000;
    font-size: 1.3vw;
    position: fixed;
    text-transform: uppercase;
    font-family: Futura;
    border-radius: 50%;
    opacity: 0;
    scale: 0;
}

#page2 {
    min-height: 100vh;
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    padding: 3vw 1vw;
    justify-content: space-between;
}

#page2 .elem {
    height: 100%;
    width: 31%;
    /* background-color: red; */
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

#page2 .elem img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    scale: 1.1;
}

#page2 .elem .dets {
    height: 60px;
    border-radius: 50px;
    width: 70%;
    position: absolute;
    z-index: 9;
    background-color: palegoldenrod;
}

/* #page2 .elem .dets:hover {
    height: 200px;
} */

#page2 .elem .dets h2 {
    text-align: center;
    margin: 2vh;
    letter-spacing: 1vh;
    text-transform: uppercase;
    font-family: futura;
    font-weight: 30px;
    align-content: center;
}
#page2 .elem .dets h2:hover{
    cursor:not-allowed;
}


#page3 {
    min-height: 120vh;
    width: 100%;
    
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    cursor: none;
}

.child {
    height: 54vh;
    width: 38vw;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.child img {
    height: 100%;
}

@media (max-width:600px) {
    #page1 {
        min-height: 70vh;
        width: 100%;
        padding: 0 3vw;
        padding-top: 25vh;
    }

    #page1 h1 {
        font-size: 15.5vw;
        letter-spacing: -3px;
    }

    #video-container {
        height: 25vh;
        margin-top: 3vw;
    }

    #video-container #play {
        padding: 9.5vw 7.2vw;
        font-size: 4.5vw;
        position: fixed;
        top: 50%;
        left: 50%;
        opacity: 1;
        scale: 1;
        transform: translate(-50%, -50%);
        transform-origin: center center;
    }

    #page2 {
        min-height: 100vh;
        width: 100%;
        position: relative;
        display: flex;
        align-items: center;
        padding: 5vw 3vw;
        flex-direction: column;
        justify-content: space-between;
    }

    #page2 .elem {
        height: 100vh;
        width: 100%;
        /* background-color: red; */
        overflow: hidden;
        margin-bottom: 3vw;
    }

    #page2 .elem img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        scale: 1.1;
    }

    #page2 .elem .dets {
        height: 40px;
        border-radius: 50px;
        width: 70%;
        position: absolute;
        z-index: 9;
        background-color: palegoldenrod;

    }
    #page2 .elem .dets h2 {
        margin: 1vh;
        letter-spacing: 0.2vh;
        text-transform: uppercase;
    }
}